<div class="row">
  <div class="col-md-12 col-sm-12">
    <!-- Sidebar -->
    <nav id="sidebar" class="active">
      <div id="dismiss" (click)="Dimiss()">
        <fa-icon [icon]="['fas', 'arrow-left']" size="lg" class="dismissMenu"></fa-icon>
      </div>

      <div class="sidebar-header">
        <h3>Task Manager</h3>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a (click)="navigate('/')">Task List</a>
        </li>
        <li>
          <a (click)="navigate('/finished')">Task Finished</a>
        </li>
      </ul>
    </nav>

    <!-- Dark Overlay element -->
    <div class="overlay"></div>

    <!-- Page Content -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <button type="button" id="sidebarCollapse" class="btn btn-outline-info" (click)="collapaseSideNav()">
        <fa-icon [icon]="['fas', 'align-justify']"></fa-icon>
      </button>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>
