<div class="row">
  <div class="col-md-12 col-sm-12">
    <!-- Sidebar -->
    <nav id="sidebar" class="active">
      <div id="dismiss" (click)="Dimiss()">
        <i class="fas fa-arrow-left"></i>
      </div>

      <div class="sidebar-header">
        <h3>Bootstrap Sidebar</h3>
      </div>

      <ul class="list-unstyled components">
        <p>Dummy Heading</p>
        <li>
          <a routerLink="/" (click)="collapaseSideNav()">Task List</a>
        </li>
        <li>
          <a routerLink="/finished" (click)="collapaseSideNav()">Task Finished</a>
        </li>
      </ul>
    </nav>

    <!-- Dark Overlay element -->
    <div class="overlay"></div>

    <!-- Page Content -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <button
        type="button"
        id="sidebarCollapse"
        class="btn btn-outline-info"
        (click)="collapaseSideNav()"
      >
        <i class="fas fas-close"></i>
      </button>
      <button class="btn btn-outline-info float-right" >New Task</button>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>
