<div class="container">
  <div class="row">
    <div class="total-time col-md-12 col-sm-12 text-center bg-dark">
      <span class="text-light">Total Time Expanded: <small class="text-info">{{taskTotalTime}}</small></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12" *ngFor="let task of Tasks">
      <div class="card border-dark text-white">
        <div class="card-header bg-dark">
          <h5 class="card-title text-center">{{task.name}}</h5>
        </div>
        <div class="card-body">
          <p class="card-text text-center">{{task.hours}}:{{task.minutes}}:{{task.seconds}}</p>
        </div>
        <div class="card-footer text-center bg-dark">
          <a (click)="reopen(task)" placement="bottom" ngbTooltip="Reopen Task">
            <fa-icon [icon]="['fas', 'external-link-alt']" size="2x" class="text-primary"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
