<div class="row">
  <div class="col-md-12 col-sm-12">
    <table class="table table-stripped">
      <thead>
        <tr rowspan="3">
          <button class="btn btn-lg btn-outline-primary" (click)="open(content)">New Task</button>
        </tr>
        <tr>
          <th>Name</th>
          <th>Time Elapsed</th>
          <th class="text-center">Options</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let task of Tasks">
          <td>{{task.name}}</td>
          <td>{{task.hours}}:{{task.minutes}}:{{task.seconds}}</td>
          <td class="text-center">
            <button class="btn btn-success" (click)="StartTask(task.id)">
              Start
            </button>
            <button class="btn btn-danger" (click)="StopTask(task.id)">
              Stop
            </button>
            <button class="btn btn-primary" (click)="EditTask(task, content)">
              Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- MODAL -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ModalTaskName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="Form">
      <div class="form-group">
        <label for="dateOfBirth">Task Name</label>
        <div class="input-group">
          <input id="TaskName" class="form-control" placeholder="Task Name" name="TaskName" formControlName="name">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="creatTask(Form.value)" *ngIf="!ModalEdit" >Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="SubmitEditTask(Form.value, content)" *ngIf="ModalEdit">Edit</button>
  </div>
</ng-template>

<hr>

<pre>{{ CloseResult }}</pre>
