<div class="container">
  <button class="btn btn-info new-task-btn" (click)="create()">
    <fa-icon [icon]="['fas', 'plus']" size="4x"></fa-icon>
  </button>
  <div class="row">
    <div class="col-md-4 col-sm-12" *ngFor="let task of Tasks">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          <h5 class="card-title text-center">{{task.name}}</h5>
        </div>
        <div class="card-body">
          <p class="card-text text-center">{{task.hours}}:{{task.minutes}}:{{task.seconds}}</p>
        </div>
        <div class="card-footer text-center">
          <a (click)="StartTask(task.id)">
            <fa-icon [icon]="['fas', 'play-circle']" size="2x" class="card-link text-success icons"></fa-icon>
          </a>
          <a (click)="StopTask(task.id)">
            <fa-icon [icon]="['fas', 'stop-circle']" size="2x" class="card-link text-danger icons"></fa-icon>
          </a>
          <a (click)="edit(task)">
            <fa-icon [icon]="['fas', 'edit']" size="2x" class="card-link text-primary icons"></fa-icon>
          </a>
          <a (click)="finish(task)">
            <fa-icon [icon]="['fas', 'check-circle']" size="2x" class="card-link text-success icons"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
